<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: layout (~{::body})}" >
<head>
    <meta charset="UTF-8" http-equiv="content-type" content="text/html" />
    <title>All friends: </title>
</head>
<body>

<h1> here are all friends</h1>

  <table class="table table-hover">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Email</th>
    <th scope="col">Schulden</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="friend : ${allFriends}">
    <th scope="row">1</th>
    <td> <span th:text="${friend.name}">Name</span></td>
    <td> <span th:text="${friend.email}">Email</span></td>
    <td> <span th:text="${friend.owes}">Email</span></td>
  </tr>
  </tbody>
</table>



<hr>
<a class="btn btn-primary" href="/createfriend" role="button">create a new Friend</a>

</body>
</html>