<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: layout (~{::body})}" >
<head>
    <meta charset="UTF-8" http-equiv="content-type" content="text/html" />
    <title>Willkommen beim Money Reminder!</title>
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script type="module" src="#" th:src="@{/js/dynamic-form.js}" ></script>
</head>
<body>

<h2>Hier kannst du einen neuen Kontakt hinzufügen</h2>
<br>
<br>
<div id="dynamic-form">
    <dynamic-form>

    </dynamic-form>

</div>
<br>
<hr>
<br>

</body>
</html>