<!DOCTYPE html>
<html lang="en" th:fragment="layout (template)" >
<head>
    <title>Money Reminder</title>
    <link rel="shortcut icon" type="image/png" href="img/favicon.png" th:src="@{/img/favicon.png}" >
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta id="Viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container container-fluid">
            <a class="navbar-brand" href="/">
                <img th:src="@{/img/favicon.png}" alt="" width="28" height="28" class="d-inline-block align-text-top">
                MoneyReminder
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/allfriends}" th:classappend="${#request.requestURI == '/allfriends' ? 'active':''}">See all Friends</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/createfriend}" th:classappend="${#request.requestURI == '/createfriend' ? 'active':''}">Add a new friend</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</head>
<body>

<main role="main" class="content-wrapper mt-3">
    <div class="container">
        <!--/*@thymesVar id="template" type="templates"*/-->
        <section th:include="${template}"></section>
    </div>
</main>


</body>
</html>